
<GridLayout columns="50, *, 50" rows="50, *, auto" class="page page-content form">    
    <StackLayout col="1" row="1">
        <Label
            text="You are here:"
            class="text-center">
        </Label>

        <DropDown
            [items]="formattedAddresses"
            [(ngModel)]="addressIndex"
            (selectedIndexChanged)="selectedAddressIndexChanged($event)"
            row="1"
            colSpan="2"
            hint="Select exact location"
            class="text-center">
        </DropDown>

        <Label
            text="Category"
            class="text-center">
        </Label>

        <DropDown
            [items]="checkinCategoriesNames"
            [(ngModel)]="categoryIndex"
            (selectedIndexChanged)="selectedCategoryIndexChanged($event)"
            row="1"
            colSpan="2"
            hint="Select category"
            class="text-center">            
        </DropDown>

        <TextView 
            col="1" 
            row="2"
            hint="Enter you message (optional)"
            class="input input-border"
            height="400px"
            [(ngModel)]="note">
        </TextView>

        <Button
            [text]="!isLoading? 'Check In': 'Loading...'"
            (tap)="sendCheckin()"
            class="btn btn-primary"
            [isEnabled]="!isLoading">
        </Button>
    </StackLayout>
    
</GridLayout>