<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Welcome"></Label>
</ActionBar>
<GridLayout columns="30, *, 30" rows="80, auto, 80, *, 30" class="page page-content form">
    <StackLayout col="1" colSpan="2" row="0" class="indicator-container" horizontalAlignment="right">
        <ActivityIndicator width="50" height="50" [busy]="isLoading" class="activity-indicator">
        </ActivityIndicator>
    </StackLayout>
    <StackLayout col="1" row="1" class="input-field">
        <Button (tap)="goToFacebook()" text="Sing In via Facebook" class="btn btn-primary btn-lg"></Button>
        <!-- <Button (tap)="goToInstagram()" text="Sing In via Instagram" class="btn btn-lg"></Button> -->
    </StackLayout>
    <StackLayout col="1" row="3" orientation="vertical">
        <StackLayout class="input-field" verticalAlignment="bottom">
            <Label (tap)="goToLogin()" text="Sign In via email" class="text-center"></Label>
        </StackLayout>
        <StackLayout class="input-field" verticalAlignment="bottom">
            <Label (tap)="goToRegistration()" text="Registration" class="text-center"></Label>
        </StackLayout>
    </StackLayout>
</GridLayout>