<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Profile"></Label>
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" 
        visibility="{{ isEditing ? 'collapse' : 'visible' }}" (tap)="onBack()">
    </NavigationButton>
    <ActionItem (tap)="onEdit()" ios.systemIcon="2" android.systemIcon="ic_menu_edit" ios.position="right" 
        visibility="{{ isEditing ? 'collapse' : 'visible' }}">
    </ActionItem>
    <ActionItem (tap)="onSave()" ios.systemIcon="3" android.systemIcon="ic_menu_save" ios.position="right" 
        visibility="{{ isEditing ? 'visible' : 'collapse' }}">
    </ActionItem>
    <ActionItem (tap)="onCancel()" ios.systemIcon="1" android.systemIcon="ic_menu_close_clear_cancel" 
        visibility="{{ isEditing ? 'visible' : 'collapse' }}">
    </ActionItem>
</ActionBar>

<GridLayout class="page page-content" columns="15, *, 15" rows="20, auto, 20, *">
    <StackLayout col="1" colSpan="2" row="0" rowSpan="2" class="indicator-container" horizontalAlignment="right">
        <ActivityIndicator width="50" height="50" [busy]="isLoading" class="activity-indicator">
        </ActivityIndicator>
    </StackLayout>
    <StackLayout col="1" row="1" orientation="vertical" *ngIf="person">
        <!-- <StackLayout orientation="horizontal">
            <Image [src]="person.profile.pictureUrl ? person.profile.pictureUrl : 'https://placekitten.com/200/200'" width="100" class="img-circle"></Image>
            <Button (tap)="changeProfilePicture()" class="btn" text="Change"
                visibility="{{ isEditing ? 'visible' : 'collapse' }}">
            </Button>
        </StackLayout> -->

        <Label opacity="0.4" text="Username" class="label m-t-10"></Label>
        <TextField opacity="0.4" [editable]="false" hint="Enter Name" [(ngModel)]="person.profile.userName" class="input"></TextField>

        <Label text="Name" class="label m-t-10"></Label>
        <TextField [editable]="isEditing" hint="Enter Name" [text]="person.profile.name || person.profile.userName" [(ngModel)]="person.profile.name" class="input"></TextField>
        
        <Label text="Instagram" class="label m-t-10"></Label>
        <TextField [editable]="isEditing" hint="Instagram Username" [(ngModel)]="person.profile.instagram" class="input"></TextField>

        <Label text="Facebook" class="label m-t-10"></Label>
        <TextField [editable]="isEditing" hint="Facebook Username" [(ngModel)]="person.profile.facebook" class="input"></TextField>

        <GridLayout columns="*, auto" rows="auto" class="m-t-20 m-b-20">
            <Label col="0" row="0" class="label h3 m-t-3" text="Enable location"></Label>
            <Switch col="1" row="0" checked="{{ isEnabledLocation }}" (checkedChange)="checkEnableLocation()"></Switch>
        </GridLayout>

        <!-- <Button class="btn btn-primary btn-block" text="Get Current Location" (tap)="getCurrentLocation()"></Button> -->
    </StackLayout>
    <StackLayout col="1" row="3">
        <Button (tap)="logOut()" class="btn btn-block" text="Log Out"></Button>
    </StackLayout>
</GridLayout>