
<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Registration"></Label>
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onBack()"></NavigationButton>
</ActionBar>
<GridLayout columns="50, *, 50" rows="100, 55, 55, auto, auto" class="page page-content form">
    <StackLayout col="1" colSpan="2" row="0" class="indicator-container" horizontalAlignment="right">
        <ActivityIndicator width="50" height="50" [busy]="isLoading" class="activity-indicator">
        </ActivityIndicator>
    </StackLayout>
    <StackLayout col="1" row="1" class="input-field">
        <TextField hint="Username" class="input" [(ngModel)]="user.userName" autocapitalizationType="none"></TextField>
        <StackLayout class="hr-light"></StackLayout>
    </StackLayout>
    <StackLayout col="1" row="2" class="input-field">
        <TextField hint="Password" class="input" secure="true" [(ngModel)]="user.password"></TextField>
        <StackLayout class="hr-light"></StackLayout>
    </StackLayout>
    <StackLayout col="1" row="3" class="input-field">
        <Button (tap)="register()" class="btn btn-primary" text="Sign Up"></Button>
    </StackLayout>
</GridLayout>