<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Dashboard"></Label>
    <ActionItem ios.systemIcon="13" ios.position="right" android.systemIcon="ic_menu_rotate" 
        (tap)="updateData()">
    </ActionItem>
    <!-- <ActionItem [nsRouterLink]="['/profile']" ios.systemIcon="16" ios.position="right"
                text="Profile" android.position="popup"></ActionItem> -->
    <ActionItem android.systemIcon="ic_menu_home" ios.systemIcon="7" ios.position="right" 
        [nsRouterLink]="['/profile']">
    </ActionItem>
</ActionBar>

<GridLayout class="page page-content" columns="*" rows="*">
    <StackLayout col="0" row="0" class="indicator-container" horizontalAlignment="right">
        <ActivityIndicator width="50" height="50" [busy]="isLoading" class="activity-indicator">
        </ActivityIndicator>
    </StackLayout>
    <TabView #tabView 
            col="0" 
            row="0" 
            androidTabsPosition="bottom" 
            [(ngModel)]="selectedIndex"
            class="icon">
            <StackLayout *tabItem="{title: 'Map'}" >
                    <router-outlet name="map"></router-outlet>
                    <!-- <Button text="Open map" (tap)="openMap()"></Button> -->
                <!-- <MapComponent [people]="people" [currentLocation]="currentLocation"></MapComponent> -->
            </StackLayout>
        <StackLayout *tabItem="{title: 'Search'}">
                <router-outlet name="search"></router-outlet>
            <!-- <SearchComponent [people]="people"></SearchComponent> -->
        </StackLayout>
        <StackLayout *tabItem="{title: 'Check In'}">
                <router-outlet name="checkIn"></router-outlet>
        </StackLayout>
    </TabView>
</GridLayout>