<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Welcome"></Label>
</ActionBar>

<GridLayout columns="*" rows="*" class="page page-content">
    <StackLayout col="0" row="0" class="indicator-container" horizontalAlignment="right">
        <ActivityIndicator width="50" height="50" [busy]="true" class="activity-indicator">
        </ActivityIndicator>
    </StackLayout>
</GridLayout>