// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
   font-family: "FontAwesome";
}
// Common page class
.page-content {
    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

//Action bar
ActionBar .action-bar-title {
    horizontal-align: center;
}

.icon{
    font-family: 'icomoon';
}

TabView {
    selected-tab-text-color: #185a9d;
    android-selected-tab-highlight-color: #185a9d;
}

.indicator-container {
    margin-bottom:-55; 
    z-index:1000; 
    padding: 5, 5, 0, 0;
}

.btn-lg{
    height:60;
}