<!-- <TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: '', iconSource: getIconSource('search')}"
        name="searchTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: '', iconSource: getIconSource('browse')}"
        name="mapTab">
    </page-router-outlet>

</TabView> -->
    
<page-router-outlet></page-router-outlet>

<!-- <TabView>
    <TabView.items>
        <TabViewItem title="Search">
            <TabViewItem.view>
                <Map></Map>
            </TabViewItem.view>
        </TabViewItem>
        <TabViewItem title="Map">
            <TabViewItem.view>
                <Map></Map>
            </TabViewItem.view>
        </TabViewItem>
    </TabView.items>
</TabView> -->