
<SegmentedBar [items]="segmentedItems" (selectedIndexChange)="onSelectedIndexChange($event)" class="m-5" ></SegmentedBar>

<GridLayout class="page page-content" visibility="{{showPeople ? 'visible': 'collapsed'}}">
    <ListView class="list-group" [items]="people">
        <ng-template let-item="item">
                <GridLayout (tap)="openProfile(item.personId)" class="list-group-item" rows="auto, *" columns="80, *">
                <Image row="0" col="0" width="50" height="50" [src]="item.profile.pictureUrl || 'https://placekitten.com/200/200'" 
                    class="thumb img-circle" rowSpan="2"></Image>
                <Label row="0" col="1" [text]="(item.profile.name || item.profile.userName) + ' (' + item.distance + ' m)'" class="list-group-item-heading"></Label>
                <Label row="1" col="1" [text]="item.location.latitude + ', ' + item.location.longitude" class="list-group-item-text"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</GridLayout>

<GridLayout class="page page-content" visibility="{{showCheckins ? 'visible': 'collapsed'}}">
    <ListView class="list-group" [items]="checkins | orderBy: 'created'">
        <ng-template let-item="item">
            <GridLayout class="list-group-item" rows="auto, *,*" columns="auto, 10, *">
                <Label row="0" col="0" colSpan="3"
                    class="font-weight-bold"
                    [text]="item.person.profile.userName">
                </Label>

                <StackLayout row="1" col="0">
                    <Label text="Address:"></Label>
                </StackLayout>
                <StackLayout row="1" col="2">
                    <Label
                        [text]="item.formattedAddress"
                        textWrap="true">
                    </Label>
                </StackLayout>

                <StackLayout row="2" col="0">
                    <Label text="Note:"></Label>
                </StackLayout>                
                <StackLayout row="2" col="2">
                    <Label 
                        [text]="item.note"
                        textWrap="true">
                    </Label>
                </StackLayout>

            </GridLayout>
        </ng-template>
    </ListView>
</GridLayout>