<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Sign In via Facebook"></Label>
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onBack()"></NavigationButton>
</ActionBar>
<GridLayout rows="*" columns="*" class="page page-content">
        <WebView row="0" col="0" #webView  [src]="webViewSrc"></WebView>
</GridLayout>
            