
<!-- <MapPreviewComponent [address]="currentLocation" [markers]="peopleLocation"></MapPreviewComponent> -->
<!-- <ContentView height="100%" width="100%"> -->

        <GridLayout class="page page-content" rows="10, auto, *, auto, 10" columns="10, auto, *, auto, 10">
            <Mapbox
                row="0"
                col="0"
                colSpan="5"
                rowSpan="5"
                #map
                [accessToken]="mapboxToken"
                mapStyle="light"
                hideCompass="false"
                zoomLevel="15"
                showUserLocation="false"
                disableZoom="false"
                disableRotation="true"
                disableScroll="false"
                disableTilt="false"
                (mapReady)="onMapReady($event)">
            </Mapbox>
            <StackLayout row="3" col="3">
                <Button class="btn btn-primary btn-active" text="Im" (tap)="navigateToMyLocation()"></Button>
            </StackLayout>
        </GridLayout>
    <!-- </ContentView> -->

    <!-- <Label text="TETET"></Label> -->