<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Detail"></Label>
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onBack()"></NavigationButton>
</ActionBar>

<GridLayout columns="20, *, 20" rows="20, auto, auto, 20" *ngIf="person">
    <FlexboxLayout col="1" row="1">
        <Image [src]="person.profile.pictureUrl || 'https://placekitten.com/200/200'" width="100" class="img-circle"></Image>
        <StackLayout>
            <Label [text]="person.profile.userName" class="m-l-20" style="font-size: 20px;"></Label>
            <Label [text]="'Name: ' + person.profile.name" class="m-l-20 m-t-10"></Label>
            <Label [text]="'Gender: ' + person.profile.gender" class="m-l-20 m-t-10"></Label>
        </StackLayout>
    </FlexboxLayout>
    <StackLayout orientation="horizontal" col="1" row="2" class="m-t-15"*ngIf="person.profile.name">
        <Button (tap)="launchInsta(person.profile.instagram)" width="90%" class="btn btn-primary" text="Instagram Profile"></Button>
    </StackLayout>
</GridLayout>